*{
    list-style-type: none;
    box-sizing:border-box
}
:root{
    --primary-color: white;
    --secondary-color: #222;
    --third-color: #d9d9d9;
    --forth-color: #f4f4f4;
}
.dark-theme{
    --primary-color: #222;
    --secondary-color: white;
    --third-color: #777;
    --forth-color: #777;
}
.ht-left{
    display: flex;
}
.ht-right{
    display: flex;
    justify-content: right;
}
.micon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: auto;
}

.slider-1{
    width: 100%;
    background-color: var(--primary-color);
    border-top: 0.5px solid #888787;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .slide{
    background-color: white;
    height: fit-content;
    width: fit-content;
  }
  .proizvodi #container {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid ;
    place-items: center
  }
  
  .proizvodi #slider-container {
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .proizvodi #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #bf0f0f;
    border-top: 8px solid #bf0f0f;
  }
  
  .proizvodi #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  .proizvodi #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  .proizvodi #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  .proizvodi #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  .proizvodi #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  .proizvodi #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    display: grid;
    place-items: center;
  }
  
  .proizvodi #slider-container #slider .slide span {
    color: white;
    font-size: 150px;
  }
  
  @media only screen and (min-width: 1100px) {
  
    .proizvodi #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    .proizvodi #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    .proizvodi #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    .proizvodi #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }
  body{
    margin: 0;
    background-color: var(--primary-color);
}
.popup {
    display: none;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  .popup p{
    font-family: "Roboto";
    font-size: 24px;
  }
  .popup-content {
    position: fixed;
    background-color: #fefefe;
    margin: 20% 30%;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 6px;
    opacity: none;
  }
  .popup-content p::after{
    content: '';
    display: block;
    height: 3px;
    width: 52px;
    background-color: #bf0f0f;
    margin-left: auto;
    margin-right: auto;
}
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.container-swiper{
    border-top: 0.5px solid #888787;
    width: 100%;
    height: fit-content;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}
.prlx{
    width: 100%;
    height: 502px;
    background-image: url("../img/distribucija1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    text-align: center;
    margin-top: 85px;
}
.prlx-p{
    display: block;
    padding-top: 250px !important;
    height: 502px;
    font-size: 32px;
    font-family: "Roboto";
    color: white;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.325em;
}
.prlx-p::after{
    content: '';
    margin-top: 16px;
    display: block;
    height: 6px;
    width: 137px;
    background-color: #bf0f0f;
    margin-left: auto;
    margin-right: auto;
    
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 80%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #222;
    background-color: #222;
}
h2{
    font-family: "Roboto";
    font-size: 42px;
    color: var(--secondary-color);
    margin-left: 7%;
    margin-right: 20%;
}
hr{
    border:1px solid var(--secondary-color);
    margin-left: 7%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.onama{
    background-color: var(--primary-color);
}
.onama .p28{
    font-family: "Inter";
    font-size: 28px;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 7%;
    margin-right: 20%;
}
.onama .p14{
    margin-left: 7%;
    margin-right: 20%;
    padding-top: 3%;
}
.onama .dugme{
    font-family: "Roboto";
    color:#fff;
    padding: 15px 16px;
    background-color: #bf0f0f;
    border-radius: 4px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 34.86px;
}
.onama h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 7%;
}
.p28{
    font-family: "Inter";
    font-size: 28px;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 60px;
}
button{
    font-family: "Roboto";
    color:#fff;
    padding: 15px 16px;
    background-color: #bf0f0f;
    border-radius: 4px;
    border: var(--primary-color);
    cursor: pointer;
}
.onama button{
    margin-left: 7%;
}
a{
    text-decoration: none;
}
.listanje a{
    font-size: 14px;
    font-family: "Roboto";
    color: var(--secondary-color)
}
.menu-article-text{
    font-family: "Roboto";
    font-size: 24px;
    color: var(--secondary-color);
    margin-top: 26px;
}
h4{
    font-family: "Inter";
    font-size: 46px;
    color: #fff;
}
.p18{
    font-family: "Inter";
    font-size: 14px;
    color: #fff;
}
.brojke{
    text-align: center;
    justify-content: center;
}
.brojke h2{
    text-align: center;
    font-family: "Roboto";
    font-size: 42px;
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.brendovi{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 40%;
    text-align: center;
    padding-bottom: 90px;
    background-color: var(--primary-color);
}
.brendovi .p28{
    color: var(--secondary-color);
}
.pozadina{
    background-image: url("../img/pozadina.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    justify-content: justify;
    width: 100%;
    padding: 5% 0;
}
td{
    width:200px;
    padding: 0%;
}
.pasus-1{
    background-color: var(--primary-color) !important;
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 50px;
}
.onama{
    width: 50%;
    height: 50%;
}
.zgrada{
    width: 50%;
}
.proizvodi{    
    background-color: var(--forth-color);
    background-position-y: top;
    width: 100%;
}
.proizvodi .p28{
    color: var(--secondary-color);
}
.p14{
    font-family: "Roboto";
    font-size: 16px;
    color: var(--secondary-color);
}
.convoy-img{
    margin-top: 73px;
    width: 100%;
}
.video{
    width: 100%;
    border-top: 0.5px solid #888787;
    margin-bottom: 73px;
}
.sve-kartice{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 90px;
}
.kartica{
    margin-bottom: 10%;
    background-color: white;
    background-size: cover;
    width: 18%;
    position: relative;
}
.kartica-opis{
    font-family: "Roboto";
    font-size: 24px;
    color: #222;
    position: absolute;
    bottom: 15px;
    left: 16px;
    background-size: 100%;
}
.kartica-img{
    position: relative;
}
.menu{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.menu-article{
    width: 30%;
}
.menu-article{
    width:100%;
}
.brendovi-png{
    padding-bottom: 50px;
}
.footer{
    background-image: url("../img/footer-bg.png") !important;
    background-size: cover;
    color: #fff;
}
.footer a{
    color: #fff;
}
.info .bigger{
    font-family: "Inter";
    font-size: 28px;
}
.copyright{
    background-color: black;
    background-size: cover;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    opacity: 0.4;
    font-family: "Roboto";
    font-size: 14px;
}
.sp{
    justify-content: right !important;
    width: 40%;
    display: flex;
    margin-right: 25px;
}
.prava{
    margin-left: 65px;
    margin-top: 25px;
    margin-bottom: 24px;
    width: 40%;
    display: flex;
}
.config{
    margin-left: 98px;
    width: 40%;
    display: flex;
    gap: 30px;
}
.copyright a{
    text-decoration: underline;
    font-weight: bold;
}
.info a{
    text-decoration: underline;
}
.contacts{
    padding-left: auto;
    padding-right: auto;
}
.contacts-item{
    display: flex;
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    width: 166px;
}
.contacts-li p{
    margin: 0;
    padding: 0;
}
.contacts-li{
    display: flex;
    
}
.logo-foot{
    padding-top: 67px;
    padding-right: 5%;
}
.footer-container{
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    width: 70%;
}
.info{
    margin-top: 85px;
    margin-bottom: 85px;
    border-left: 0.5px solid #888787;
}

.bigger{
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Inter";
    font-size: 28px;
    color: #fff;
}
.links{
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size: 16px;
    line-height: 26px;
}
.links-item{
    padding-left: 19px;
}
.footer-navbar{
    margin-top: 85px;
    margin-bottom: 85px;    
    border-left: 0.5px solid #888787;
    width: 20%;
}
.socials{
    margin-top: 85px;
    width: 22.5%;
    margin-bottom: 85px;    
    border-left: 0.5px solid #888787;
    padding-left: 21.83;
}
.soc-head{
    font-family: "Roboto";
    font-size: 14px;
    padding-left: 22px;
}
.soc-icon{
    padding-left: 7.3%;
}
.head-top{
    background-color: var(--forth-color);
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 7.3%;
    padding-right: 7.3%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #888787;
    width: 100%;
}
.head-nav-menu{
    display: flex;
    justify-content: right;
    padding-right: 7.3%;
    padding-left: 7.3%;
    justify-content: space-between;
    gap: 16.82px;
}
.nav-item-my{
    float: left;
    font-family: "Roboto";
    font-size: 14px;
}
.nav-link-my{
    margin-left: 15.82px;
}
.icons{
    height: 20px;
    margin-right: 17.33px;
}
.head-bottom{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 90%;
    text-align: center;    
}
.hb1{
    display: flex;
}
.hb2{
    display: flex;
}
.nb-h3-1{
    font-family: "Roboto Condensed";
    font-size: 16px;
    color: var(--secondary-color);
    justify-content: center;
    font-weight: bold;
    border-left: 0.25px solid #888787;
    border-right: 0.25px solid #888787;
    width: 186px;
    height: 100%;
    padding-top: 11px;
}
.nb-h3-2{
    font-family: "Roboto Condensed";
    font-size: 16px;
    color: var(--secondary-color);
    justify-content: center;
    font-weight: bold;
    border-right: 0.25px solid #888787;
    border-left: 0.25px solid #888787;
    width: 186px;
    height: 100%;
    padding-top: 11px;
}
.nb-h3{
    font-family: "Roboto Condensed";
    font-size: 16px;
    color: var(--secondary-color);
    justify-content: center;
    font-weight: bold;
    border-right: 0.25px solid #888787;
    width: 186px;
    height: 100%;
    padding-top: 11px;
}
.description{
    font-family: "Roboto";
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    padding-bottom: 11px;
    margin-top: 0;
    margin-bottom: 0;
}
.table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.cell-1{
    width: 25%;
    margin-bottom: 15%;
    margin-top: 15%;
}
.cell{
    width: 25%;
    margin-bottom: 15%;
    margin-top: 15%;
    border-left: 0.25px solid #888787;
}
.magacin{
    display: flex;
    margin-bottom: 0%;
    justify-content: center;
}
.magacin .p18{
    font-family: "Inter";
    font-size: 14px;
    color: #fff;
}
h4{
    margin-bottom: 0%;
    margin-top: 50px;
}
.table .p18{
    margin-bottom: 0;
}
.proizvodi .p14{
    border-top: 0.5px solid #c4c4c4;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 40%;
    font-family: "Roboto";
    font-size: 18px;
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
}
.ghost{
    position: relative;
    padding-left: 6px;
    bottom: -28px;
}
.proizvodi-top{
    text-align: center;
}
.brendovi-tabela{
    display: flex;
    gap: 15px;
    margin-bottom: 90px;
}
.per3-1{
    display: flex;
    gap: 15px;
    margin-bottom: 0;
    margin-left: auto;
}
.per3-2{
    display: flex;
    gap: 15px;
    margin-bottom: 0;
    margin-right: auto;
}
.brendovi-cell{
    width: 115px;
}
.brendovi-png{
    padding-bottom: 0;
}
.brendovi-opis{
    font-family: "Inter";
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
}
.brendovi .p28{
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 44px;
    padding-top: 83px;
    border-bottom: 0.5px solid #c4c4c4;
}
.cell h4{
    font-weight:900;
}
.cell-1 h4{
    font-weight:900;
}
.cell-data{
    padding-top: auto;
    padding-bottom: auto;
}
.cell .p18{
    font-weight:900;
    padding-bottom: 50px;
}
.kartica-opis{
    width: 100%;
}
.kartica-opis::after{
    content: '';
    display: block;
    height: 2px;
    width: 52px;
    background-color: #bf0f0f;
}
.brojke .p28::after{
    content: '';
    display: block;
    height: 6px;
    width: 10%;
    background-color: #bf0f0f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 93px;
}
.menu-article-text::after{
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background-color: #bf0f0f;
    margin-top: 11px;
}
.onama h2::after{
    content: '';
    display: block;
    height: 2px;
    width: 12.5%;
    background-color: #bf0f0f;
    margin-top: 11px;
}
@media (max-width: 1315px){
    .head{
        width: 100%;
        padding: 0;
        display: block;
        justify-content: space-between;
    }
    .head-bottom{
        display: block;
    }
    .hb1{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .hb2{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .hb1 .nb-h3-1{
        border-bottom: 0.5px solid #888787;
    }
    .hb1 .nb-h3{
        border-bottom: 0.5px solid #888787;
    }
    .nav-link{
        margin-top: 0;
        margin-bottom: 0;
    }
    .menu{
        display: block;
        justify-content: center;
    }
    .menu a{
        width: fit-content;
        display: block;
    }
    .menu-article{
        justify-content: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
    }
}
@media (max-width: 1000px){
    .pasus-1{
        display: block;
    }
    .zgrada{
        width: 100%;
    }
    .onama{
        width: 100%;
    }
    .onama h2{
        margin-left: 14%;
        margin-right: 14%;
    }
    .onama .p28{
        margin-left: 14%;
        margin-right: 14%;
    }
    .onama .p14{
        margin-left: 14%;
        margin-right: 14%;
    }
    .onama hr{
        margin-left: 14%;
        margin-right: 14%;
    }
    .onama button {
        margin-left: 14%;
    }
    .bigger{
        font-size: 21px;
    }
    .contacts-item{
        font-size: 11px;
    }
    .links{
        font-size: 12px;
    }
    .soc-head{
        font-size: 11px;
    }
}
@media (max-width: 900px){
    .table h4{
        font-size: 32px;
    }
    .brendovi{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 40%;
        text-align: center;
        padding: 0 5%;
        padding-bottom: 90px;
    }
    .brendovi-tabela{
        display: block;
        justify-content: none;
        margin-bottom: 90px;
    } 
    .per3-1{
        display: flex;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .per3-2{
        display: flex;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .contacts-li{
        display: block;
    }
}
@media(max-width: 800px){
    .hamburger{
        color: #222;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: right;
        padding-right: none;
    }
    .head-top{
        z-index: 200;
        padding-left: 2%;
        padding-right: 2%;
    }
    .head-bottom{
        z-index: 200;
        position: absolute;
        left: -100%;
        top: 180px;
        gap: 0;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .hb1{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .hb2{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nb-h3-1{
        border-left: 0.5px solid #888787;
        border-bottom: 0.5px solid #888787;
        background-color: var(--primary-color);
        margin-left: auto;
        margin-right: auto;
    }
    .nb-h3-2{
        border-left: 0.5px solid #888787;
        border-bottom: 0.5px solid #888787;
        background-color: var(--primary-color);
        margin-left: auto;
        margin-right: auto;
    }
    .nb-h3{
        border-left: 0.5px solid #888787;
        border-bottom: 0.5px solid #888787;
        background-color: var(--primary-color);
        margin-left: auto;
        margin-right: auto;
    }
    .head-bottom.active{
        display: block;
        left: 0;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .ht-right{
        display: block;
    } 
}
@media(max-width: 700px){
    .info{
        margin-left: auto;
        margin-right: auto;
        border-left: none;
    }
    .footer-navbar{
        margin-left: auto;
        margin-right: auto;
        border-left: none;
    }
    .socials{
        margin-left: auto;
        margin-right: auto;
        border-left: none;
    }
    .logo-foot img{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-container{
        display: block;
        text-align: center;
    }
    .bigger{
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts-item{
        font-size: 14px;
    }
    .contacts-li{
        text-align: center;
        width: 166px;
        margin-left: auto;
        margin-right: auto;
    }
    .links{
        font-size: 16px;
    }
    .soc-head{
        font-size: 14px;
    }
    .contacts{
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts-li{
        display: flex;
        text-align: left;
    }
    .copyright{
        display: block;
    }
}
@media (max-width: 650px){
    .magacin{
        margin-top: 0;
    }
    .table{
        display: block;
        margin-top: 15%;
        margin-bottom: 15%;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
        padding-top: 50px;
    }
    .cell{
        margin-left: auto;
        margin-right: auto;
        border-left: 0;
    }
    .cell-1{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    .cell-data{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 600px){
    .ht-left{
        display: block;
    }
    .head-nav-menu{
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
        width: fit-content;
        margin-right: auto;
    }
    .nav-link-my {
        margin-left: 2px;
    }     
}
@media (max-width:520px){
    .head-top{
        display: block;
    }
    .bar{
        margin-left: 0;
    }
}
@media (max-width: 450px){
    .menu-article img{
        width: 100%
    }
    .brendovi-cell{
        margin-left: auto;
        margin-right: auto;
    }
    .per3-1{
        display: block;
    }
    .per3-2{
        display: block;
    }
    ul .contacts{
        padding-left: auto;
        padding-right: auto;
    }
}
@media (max-width: 400px){
    .footer-container{
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
    }
    .logo-foot{
        padding-left: 0;
        justify-content: left;
    }
    a .links-bottom{
        padding: 0;
    }
    .links-item{
        padding: 0;
    }
    .logo-foot img{
        padding-left: 0%;
    }
    .links{
        text-align: center;
    }
    .info{
        margin-left: 0%;
    }
    .soc-head{
        text-align: center;
        padding: 0;
    }
    .icons{
        display: none;
    }
    .bigger{
        text-align: center;
    }
    .contacts-item{
        text-align: center;
    }
    .contacts{
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
    }
}
@media (max-width: 332px){
    .dugme{
        display: none;
    }
    .mini-dugme{
        display: flex;
        font-family: "Roboto";
        color:#fff;
        padding: 15px 16px;
        background-color: #bf0f0f;
        border-radius: 4px;
        justify-content: center;
        text-align: center;
        padding-left: auto;
        padding-right: auto;
    }
}
@media (max-width: 320px){
    .table{
        margin-left: 30%;
    }
    .cell-1{
        margin-left: 0%;
    }
    .cell{
        margin-left: 0%;
    }
    .magacin{
        justify-content: left;
    }
       
}

