*{
    list-style-type: none;
}
body{
    margin: 0;
    background-color:white;
}
h2{
    font-family: "Roboto";
    font-size: 42px;
    color: #303030;
}
hr{
    border:1px solid #303030;
}
.p28{
    font-family: "Inter";
    font-size: 28px;
    color: #474747;
    margin-top: 0;
    padding-top: 28px;
}
.dugme{
    font-family: "Roboto";
    color:#fff;
    padding: 15px 16px;
    background-color: #bf0f0f;
    border-radius: 4px;
}
a{
    text-decoration: none;
}
.listanje a{
    font-size: 14px;
    font-family: "Roboto";
    color: #474747
}
.menu-article-text{
    font-family: "Roboto";
    font-size: 24px;
    color: #474747;
}
h4{
    font-family: "Inter";
    font-size: 46px;
    color: #fff;
}
.p18{
    font-family: "Inter";
    font-size: 14px;
    color: #fff;
}
.brojke{
    text-align: center;
    justify-content: center;
}
.brendovi{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 40%;
    text-align: center;
    padding: 5%;
}
.pozadina{
    background-image: url("../img/pozadina.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    justify-content: justify;
    width: 100%;
    padding: 5% 0;
}
td{
    width:200px;
    padding: 0%;
}
.pasus-1{
    background-color: #f4f4f4;
    margin-top: 73px;
    margin-bottom: 70px;
    margin-right: 151px;
    width: 100%;
}
.onama{
    float: left;
    width: 50%;
    padding: 5%;
}
.zgrada{
    float: left;
    width: 40%;
    height: 40%;
}
.proizvodi{    
    background-color: #f4f4f4 !important;
    text-align: center;
    width: 100%;
}
.p14{
    font-family: "Roboto";
    font-size: 14px;
    color: #474747;
}
.convoy-img{
    width: 100%;
}
.video{
    width: 100%;
}
.sve-kartice{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.kartica{
    margin-bottom: 10%;
    background-color: white;
    background-size: cover;
    width: 15%;
    position: relative;
}
.kartica-opis{
    font-family: "Roboto";
    font-size: 24px;
    color: #474747;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.kartica-img{
    position: relative;
}
.menu{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.menu-article{
    width: 30%;
}
.menu-article{
    width:100%;
}
.brendovi-png{
    padding-bottom: 50px;
}
.footer{
    background-image: url("../img/footer-bg.png") !important;
    background-size: cover;
    color: #fff;
}
.footer a{
    color: #fff;
}
.info .bigger{
    font-family: "Inter";
    font-size: 28px;
}
.copyright{
    background-color: black;
    background-size: cover;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    opacity: 0.4;
    font-family: "Roboto";
    font-size: 14px;
}
.sp{
    justify-content: right !important;
    width: 40%;
    display: flex;
    margin-right: 25px;
}
.prava{
    margin-left: 65px;
    margin-top: 25px;
    margin-bottom: 24px;
    width: 40%;
    display: flex;
}
.config{
    margin-left: 98px;
    width: 40%;
    display: flex;
    gap: 30px;
}
.copyright a{
    text-decoration: underline;
    font-weight: bold;
}
.info a{
    text-decoration: underline;
}
.contacts-item{
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    width: 166px;
}
.contacts-li p{
    margin: 0;
    padding: 0;
}
.contacts-li{
    display: flex;
    
}
.logo-foot{
    padding-top: 67px;
}
.footer-container{
    margin-left: 15%;
    margin-right: auto;
    display: flex;
}
.info{
    padding-top: 85px;
    width: 35%;
}
.bigger{
    margin-left: 10%;
    font-family: "Inter";
    font-size: 28px;
    color: #fff;
}
.links{
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size: 16px;
    line-height: 26px;
}
.footer-navbar{
    padding-top: 85px;
    width: 20%;
}
.socials{
    padding-top: 85px;
    width: 22.5%;
}
.soc-head{
    font-family: "Roboto";
    font-size: 14px;
}
.head-top{
    background-color: #d9d9d9;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 7.3%;
    display: flex;
    justify-content: space-between;
}
.head-nav-menu{
    justify-content: right;
    padding-right: 7.3%;
    justify-content: space-between;
    gap: 16.82px;
}
.nav-item-my{
    float: left;
    font-family: "Roboto";
    font-size: 14px;
}
.nav-link-my{
    margin-left: 15.82px;
}
.icons{
    height: 20px;
    margin-right: 17.33px;
}
.contacts{
    margin-bottom: 49.17px;
}
.head-bottom{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 90%;
}
.nb-h3{
    font-family: "Roboto Condensed";
    font-size: 16px;
    color: #000;
    justify-content: center;
    font-weight: bold;
    border: 0.5px solid #888787;
    width: 186px;
}
.description{
    font-family: "Roboto";
    font-size: 16px;
    color: #474747;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}